---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<title>BrowseLLM</title>
		<style>
			@font-face {
				font-family: "Lexend Exa";
				src: url("../assets/fonts/LexendExa-VariableFont_wght.ttf");
			}
		</style>
		<script src="script.js" type="module" />
	</head>
	<body class="bg-stone-900 font-sans text-white p-8">
		<div class="sticky top-0">
			<div class="text-center text-4xl">BrowseLLM</div>
			<div class="text-center py-4">Welcome! How can I help you today?</div>
			<div class="text-center py-4">
				<input
					id="prompt"
					type="text"
					class="text-white w-full rounded-t bg-stone-800 hover:bg-stone-700 focus:bg-stone-700 transition-colors outline-none resize-none p-4"
					placeholder="Write your initial prompt here..."
				/>
			</div>
			<div class="text-center py-4">
				<button id="start" class="bg-white hover:bg-opacity-85 active:bg-opacity-60 text-black text-lg rounded w-36 h-12">
					Let's Go!
				</button>
			</div>
		</div>
		<div class="py-4">
			<hr />
		</div>
	</body>
</html>
