---
import MainPage from '../components/MainPage'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<title>BrowseLLM</title>
		<style>
			@font-face {
				font-family: 'Lexend Exa';
				src: url('../assets/fonts/LexendExa-VariableFont_wght.ttf');
			}
		</style>
	</head>
	<body class="bg font-sans p-8 pb-16">
		<MainPage client:load />
	</body>
</html>
